html, body {
  width: 100%;
  padding: 0px;
  margin: 0px;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
a{
  text-decoration: none;
  color: black;
}
footer{
  position: absolute;
  top: 2150px;
  display: flex;
  flex-direction: row;
  background-color: #cfcfcf;
  color: black;
  font-size: 20px;
  font-weight: 600;
  width: 100%;
  height: 100px;
}
.navbar{
  width: 100%;
  display: flex;
  background-color: #cfcfcf;
  opacity: 72%;
  transition: all 0.7s ease-in-out;
  color: black;
}
.nav-list{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  margin-right: 15em;
  z-index: 10;
  pointer-events: all;
}
.nav-list li{
  list-style: none;
  font-size: 20px;
  font-weight: 600;
  padding: 0.5em;
  color: black;
}
.nav-list li a{
  text-decoration: none;
  padding: 1.5em;
  color: black;
}
.nav-list li a:hover{
  text-decoration: underline;
  color: #666666;
}
.logo{
  display: flex;
  justify-content: center;
  align-items: center;
  float: left;
  margin-left: 4em;
  padding: 18px 1.4em;
  color: black;
  letter-spacing: 2px;
  font-size: 30px;
  width: 13em;
}
.logo span{
  display: block;
  text-align: center;
}
.hamburger-menu-icon{
  display: none;
  cursor: pointer;
}
.line{
  width: 33px;
  background: black;
  height: 4px;
  margin: 5px;
  border-radius: 2em;
}
.main-img{
  position: absolute;
  top: 0;
  width: 100%;
  height: 850px;
}
.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  width: 100vw;
  top: 870px;
}
.row{
  width: 100%;
  padding-top: 40px;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.col{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 33%;
}
.col-img{
  display: flex;
  width: 75%;
  height: 270px;
  margin-left: auto;
  margin-right: auto;
}
.col-img:hover{
  cursor: pointer;
  transition: transform .5s ease-in-out;
  transform: scale(1.08);
}
.col-heading{
  margin-top: 1em;
}
.col-line{
  position: relative;
  border-width: thin;
  color: black;
  margin-top: 10px;
  width: 11em;
  opacity: 0.3;
}
.col-p{
  width: 80%;
  margin-top: 1em;
}
.box{
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  display: flex;
  flex-direction: row;
  width: 50%;
  height: 550px;
  box-shadow: rgba(0,0,0,0.5) 2px 2px 2px 2px;
}
.contact-heading{
  text-align: center;
  order: 1;
  width: 100%;
}
.icon-cont{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  order: 2;
  width: 49%;
  position: absolute;
  left: 0;
  padding: 0;
  margin-top: 2em;
}
.text-cont{
  width: 49%;
  margin-top: 2em;
  position: absolute;
  right: 0;
  order: 3;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 0;
}
.flex{
  display: flex;

}
.position{
  position: relative;
}
#services{
  width: 100%;
}
.fa.fa-user{
  font-size: 25px;
  padding: 2em;
}
.fa.fa-mobile{
  font-size: 25px;
  padding: 2em;
}
.fa.fa-phone{
  font-size: 25px;
  padding: 2em;
}
.fa.fa-at{
  font-size: 25px;
  padding: 2em;
}
.click{
  color: blue;
}
.click:hover{
  text-decoration: underline;
}
.contact-text{
  font-size: 25px;
  padding: 1em;
}
.cont{
  display: flex;
  width: 33%;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.social{
  justify-content: flex-start;
}
.fa-facebook{
  font-size: 37px;
  color: rgb(57,86,156);
  margin: 0;
  margin-left: 5em;
}
.fa-facebook:hover{
  color: rgb(57,130,180);
}
.fa-instagram{
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 46px;
  margin: 0;
  margin-left: 1em;
}
.fa-instagram:hover{
  background: radial-gradient(circle at 30% 107%, #fbed50 0%, #fbed50 5%, #e31502 45%, #ae1e81 60%, #1443d2 90%);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
}
.fa-twitter{
  margin: 0;
  margin-left: 1.5em;
  padding: 10px 5px 5px 5px;
  color: white;
  background-color: RGB(29,161,242);
  font-size: 45px;
}
.fa-twitter:hover{
  background-color: RGB(10,190,242);
}
@media screen and (max-width: 1300px){
  .nav-list{
    margin-right: 2em;
    float: right;
    width: 100%;
  }
  .logo{
    padding: 11px 1.2em;
    margin-left: 0em;
    font-size: 20px;
    width: 15em;
  }
  .main-img{
    height: 600px;
  }
  .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    width: 100vw;
    top: 650px;
  }
  .row{
    flex-direction: column;
    flex-flow: row wrap;
  }
  .col{
    width: 50%;
    margin-top: 2em;
  }
  .left{
    order: 1;
    width: 50%;
  }
  .center{
    order: 2;
    width: 50%;
  }
  .right{
    order: 3;
    width: 100%;
  }
  .box{
    width: 70%;
    height: 500px;
  }
  .contact-text{
    font-size: 21px;
  }
  .fa.fa-user{
    font-size: 22px;
    padding: 2em;
  }
  .fa.fa-mobile{
    font-size: 22px;
    padding: 2em;
  }
  .fa.fa-phone{
    font-size: 21px;
    padding: 2em;
  }
  .fa.fa-at{
    font-size: 21px;
    padding: 2em;
  }
  .cont{
    width: 100%;
    margin-top: 1em;
    text-align: center;
  }
  .social{
    width: 100%;
    justify-content: center;
  }
  .fa-facebook{
    margin-left: 0em;
  }
  footer{
    top: 2400px;
  }
}
@media screen and (max-width: 1000px){
  footer{
    top: 2450px;
  }
}
@media screen and (max-width: 935px){
  .box{
    width: 70%;
  }
  .contact-text{
    font-size: 20px;
  }
  .fa.fa-user{
    font-size: 21px;
    padding: 2em;
  }
  .fa.fa-mobile{
    font-size: 20px;
    padding: 2em;
  }
  .fa.fa-phone{
    font-size: 21px;
    padding: 2em;
  }
  .fa.fa-at{
    font-size: 21px;
    padding: 2em;
  }
}
@media screen and (max-width: 880px){
  body{
    user-select: none!important;
    overflow-x: hidden;
  }
  footer{
    flex-direction: column;
    height: 350px;
    top: 2600px;
  }
  .navbar{
    flex-direction: column;
  }
  .nav-list{
    display: none;
    margin-top: -20px;
    flex-direction: column;
    transform: translateX(100%);
  }
  .nav-list li{
    text-align: center;
    margin-left: -50px;
    padding: 1.5em;
  }
  .nav-list li:active{
    text-decoration: none;
    font-style: normal;
  }
  .logo{
    padding: 0px 1.2em;
    font-size: 15px;
    width: 50%;
  }
  .hamburger-menu-icon{
    display: block;
    position: absolute;
    right: 0;
    margin: 0.8rem;
  }
  .navbar-height-responsive{
    height: 60px;
  }
  .navbar-height-normal{
    height: 20rem;
  }
  .transform{
    display: block;
    transform: translateX(0%);
    opacity: 1;
    animation-name: fadeInOpacity;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: .5s;
  }
  .main-img{
    height: 400px;
  }
  .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    width: 100vw;
    top: 400px;
    margin-bottom: 100px;
  }
  .row{
    flex-direction: column;
  }
  .col{
    width: 100%;
    margin-top: 2em;
  }
  .box{
    height: 450px;
    width: 90%;
    font-size: 20px;
  }
  .contact-text{
  font-size: 20px;
  }
  .fa.fa-user{
    font-size: 21px;
    padding: 2em;
  }
  .fa.fa-mobile{
    font-size: 20px;
    padding: 2em;
  }
  .fa.fa-phone{
    font-size: 21px;
    padding: 2em;
  }
  .fa.fa-at{
    font-size: 21px;
    padding: 2em;
  }
  .cont{
    width: 100%;
    margin-top: 1em;
    text-align: center;
  }
  .social{
    width: 100%;
    justify-content: center;
  }
  .fa-facebook{
    margin-left: 0em;
  }
  @keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
}
@media only screen and (max-device-width: 880px) and (orientation:landscape) {
  footer{
    top: 4300px;
  }
}
@media only screen and (max-device-width: 880px) and (-webkit-min-device-pixel-ratio: 2){
  footer{
    top: 3150px;
  }
}
@media screen and (max-width: 720px){
  .contact-text{
    font-size: 15px;
  }
  .fa.fa-user{
    font-size: 15px;
    padding: 2.2em;
  }
  .fa.fa-mobile{
    font-size: 15px;
    padding: 2em;
  }
  .fa.fa-phone{
    font-size: 15px;
    padding: 2em;
  }
  .fa.fa-at{
    font-size: 15px;
    padding: 2em;
  }
  footer{
    top: 2700px;
  }
}
@media screen and (max-width: 620px){
  .box{
    height: 400px;
  }
@media screen and (max-width: 500px){
  footer{
    top: 2900px;
    }
  }
@media screen and (max-width: 465px){
  .icon-cont{
    width: 30%;
  }
  .text-cont{
    width: 60%;
  }
}
@media screen and (max-width: 415px){
  footer{
    top: 3100px;
  }
}
@media screen and (max-width: 360px){
  footer{
    top: 3050px;
  }
}
@media screen and (max-width: 310px){
  footer{
    top: 3150px;
  }
}
