<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="home page for IT Template page">
    <meta name="keywords" content="template, website template, IT template">
    <meta name="author" content="Aaron Griffin">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ITG | Why Us?</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="Assets/Styles/Header&Footer/stylesheet.css">
    <link rel="stylesheet" href="Assets/Styles/stylesheet.css">
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand p-2 px-4" id="border" href="#">ITG</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mx-auto text-center">
            <li class="nav-item m-3">
              <a class="nav-link mx-auto" href="index.html">Home</a>
            </li>
            <li class="nav-item m-3">
              <a class="nav-link mx-auto" href="whyChooseUs.html">Why Choose Us</a>
            </li>
            <li class="nav-item m-3">
              <a class="nav-link mx-auto" href="index.html#services">Our Services</a>
            </li>
            <li class="nav-item m-3">
              <a class="nav-link mx-auto" href="industries.html">Industries</a>
            </li>
            <li class="nav-item m-3">
              <a class="nav-link mx-auto" href="index.html#contact">Contact Us</a>
            </li>
          </ul>
        </div>
      </nav>
    </header>
    <main>
      <section>
        <div class="container-fluid">
          <img src="Assets/Images/strip2.jpg" class="w-100">
        </div>
        <div class="mx-auto overlap pb-4 mb-md-0">
          <h1 class="mx-auto text-center pt-4 pb-4"><span class="font-size">Why Choose IT Consulting?<span></h1>
        </div>
      </section>
      <section>
        <div class="conatiner-fluid">
          <div class="row d-flex justify-content-center p-0 m-0 mt-5 mt-md-0 mt-lg-5">
            <div class="col-12 col-md-5 col-lg-4">
              <div class="card-cont shadow-lg rounded top-sm">
                <h3 class="d-flex justify-content-center pt-5">Title 1.</h3>
                <p class="mx-auto w-75 mt-5 pb-4">I'm a paragraph. Edit me to the text you desire. I'm a paragraph. Edit me to the text you desire. I'm a paragraph. Edit me to the text you desire. </p>
              </div>
            </div>
            <div class="col-12 col-md-5 col-lg-4">
              <div class="card-cont shadow-lg rounded top-sm">
                <h3 class="d-flex justify-content-center pt-5">Title 2.</h3>
                <p class="mx-auto w-75 mt-5 pb-4">I'm a paragraph. Edit me to the text you desire. I'm a paragraph. Edit me to the text you desire. I'm a paragraph. Edit me to the text you desire. </p>
              </div>
            </div>
            <div class="col-12 col-md-5 col-lg-4">
              <div class="card-cont shadow-lg rounded top-sm">
                <h3 class="d-flex justify-content-center pt-5">Title 3.</h3>
                <p class="mx-auto w-75 mt-5 pb-4">I'm a paragraph. Edit me to the text you desire. I'm a paragraph. Edit me to the text you desire. I'm a paragraph. Edit me to the text you desire. </p>
              </div>
            </div>
            <div class="col-12 col-md-5 col-lg-4">
              <div class="card-cont shadow-lg rounded top-sm">
                <h3 class="d-flex justify-content-center pt-5">Title 4.</h3>
                <p class="mx-auto w-75 mt-5 pb-4">I'm a paragraph. Edit me to the text you desire. I'm a paragraph. Edit me to the text you desire. I'm a paragraph. Edit me to the text you desire. </p>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
              <div class="card-cont shadow-lg rounded top-sm">
                <h3 class="d-flex justify-content-center pt-5">Title 5.</h3>
                <p class="mx-auto w-75 mt-5 pb-4">I'm a paragraph. Edit me to the text you desire. I'm a paragraph. Edit me to the text you desire. I'm a paragraph. Edit me to the text you desire. </p>
              </div>
            </div>
          </div>
      </section>
    </main>
    <footer class="mt-4 mt-lg-4">
      <div class="container text-center mb-4 mb-lg-5">
        <h2 class="mx-auto text-center text-white pt-4 pt-md-5">Contact Us </h2>
        <form class="">
          <div class="form-group width">
            <label for="exampleInputName" class="mt-4">Enter Your Name*</label>
            <input type="text" class="form-control input p-0" id="exampleInputName" placeholder="Name" required>
          </div>
          <div class="form-group width">
            <label for="exampleInputEmail1">Enter You Email address*</label>
            <input type="email" class="form-control input p-0" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email" required>
          </div>
          <div class="ml-1">
            <div class="form-group">
              <label for="exampleFormControlTextarea1">Enter Your Message</label>
              <textarea class="form-control input p-0" id="exampleFormControlTextarea1" placeholder="Message" rows="5"></textarea>
            </div>
          </div>
          <button type="submit" class="btn btn-lg btn-light px-4 mr-3 mb-4">Submit</button>
        </form>
        <p class="d-inline-block mx-auto p-2 comp">Company Address:</p>
        <p class="d-inline-block mx-auto p-2"><a href="" class="comp">Company Email:</a></p>
        <p class="d-inline-block mx-auto p-2"><a href="" class="comp">Company Number:</a></p>
        <hr class="line w-50 mx-auto">
        <h5 class="comp">© 2020 by Name of Site. All Rights Reserved</h5>
        <hr class="line w-50 mx-auto">
        <a href="" class="fa fa-facebook mr-0 mr-md-1 mb-4"></a>
        <a href="" class="fa fa-instagram mr-0 mr-md-1 mb-4"></a>
        <a href="" class="fa fa-twitter mr-0 mr-md-5 mb-4"></a>
      </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  </body>
</html>
ml>
